@using TurtleGraphicsDoIt
@{
    ViewBag.OgpUrl = ViewBag.OgpUrl ?? Url.AppUrl();
    ViewBag.OgpImageUrl = ViewBag.OgpImageUrl ?? Url.AppUrl() + "/Content/images/ogpimage.png";
}<!DOCTYPE html>
<html manifest="@ViewBag.AppManifest">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Localize.SiteName - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="@Localize.SiteName" />
    <meta property="og:description" content="@Localize.Description" />
    <meta property="og:url" content="@ViewBag.OgpUrl" />
    <meta property="og:image" content="@ViewBag.OgpImageUrl" />
    <meta name="keywords" content="turtlegraphic" />
    <meta name="description" content="@Localize.Description" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.png" rel="icon" type="image/png" />

    @RenderSection("Head", required: false)
</head>
<body class="@ViewBag.BodyCssClass">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=660276823991079";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <header>
        <a href="~/"><h1>@Localize.SiteName</h1></a>
        <nav>
            @RenderSection("Navigations", required: false)
            <div>
                <a href="@Url.Action("Index", "Published")" class="action-view-published">View Published</a>
            </div>
        </nav>
    </header>

    <div class="main-content">
        @RenderBody()
    </div>

    <footer>
        <div class="part social-buttons">

            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="tgdoit">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

            <div class="fb-like" data-href="@Url.AppUrl()/" data-width="90" data-height="20" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>

        </div>

        <div class="part">
            <div class="caption">Powered by</div>
            <div class="content">
                <a href="http://windowsazure.com" target="_blank" class="link-to-azure"
                   >Windows Azure Websites &amp; Storage Service</a>
            </div>
        </div>
        <div class="part">
            <div class="caption">Source Code</div>
            <div class="content">
                <a href="https://github.com/jsakamoto/turtle-graphics-do-it" target="_blank" class="link-to-github"
                   >https://github.com/jsakamoto/turtle-graphics-do-it</a>
            </div>
        </div>
        <div class="part">
            <div class="caption">Design</div>
            <div class="content">
                <a href="http://glyphicons.com/" target="_blank" class="link-to-glyphicons">GLYPHICONS </a>
                <a href="http://game-icons.net/" target="_blank" class="link-to-gameicons">Game-icons.net</a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/html5-detectoffline.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
