@using TurtleGraphicsDoIt
@{
    ViewBag.OgpUrl = ViewBag.OgpUrl ?? Url.AppUrl();
    ViewBag.OgpImageUrl = ViewBag.OgpImageUrl ?? Url.AppUrl() + "/Content/images/ogpimage.png";
}<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Localize.SiteName - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="@Localize.SiteName" />
    <meta property="og:description" content="@Localize.Description" />
    <meta property="og:url" content="@ViewBag.OgpUrl" />
    <meta property="og:image" content="@ViewBag.OgpImageUrl" />
    <meta name="keywords" content="turtlegraphic" />
    <meta name="description" content="@Localize.Description" />
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/images/favicon.png" rel="icon" type="image/png" />

    @RenderSection("Head", required: false)
</head>
<body class="@ViewBag.BodyCssClass">
    <header>
        <a href="~/"><h1>@Localize.SiteName</h1></a>
        <nav>
            @RenderSection("Navigations", required: false)
            <div>
                <a href="@Url.Action("Index", "Published")" class="action-view-published">View Published</a>
            </div>
        </nav>
    </header>

    <div class="main-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
