@using TurtleGraphicsDoIt
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Localize.SiteName - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("Head", required: false)
</head>
<body class="@ViewBag.BodyCssClass">
    <header>
        <a href="~/"><h1>@Localize.SiteName</h1></a>
        <nav>
            @RenderSection("Navigations", required: false)
            <div>
                <a href="@Url.Action("Index", "Published")" class="action-view-published">View Published</a>
            </div>
        </nav>
    </header>

    <div class="main-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
